.battleground {
    border-collapse: collapse;
}

.btn-primary{
    background-color: rgb(64, 164, 223);
}

td {
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid black;
}

td.ship {
    background-color: darkgrey;
}

td.water {
    background-color: rgb(64, 164, 223);
}

td.destroyed {
    background-color: red;
}

td.failed {
    background-color: lightblue;
}

